/* fonts */
@font-face {
  font-family: "Oswald Light";
  src:url("../fonts/Oswald-Light.ttf");
}
@font-face {
  font-family: "Oswald Regular";
  src:url("../fonts/Oswald-Regular.ttf");
}

html, body {
  width: 100%;
}

/* container */
.container {
  width: inherit;
}

/* navigation bar */
header.header {

}

/* first view */
.section1 {
  height: 970px;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* modules */
.section2 {
  height: 740px;
  background-color: #f4f4f4;
  display: flex;
  flex-flow: column;
}

/* result */
.section3 {
  height: 440px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

/* about */
.section4 {
  height: 980px;
  background-color: #f4f4f4;
}

/* feedback */
.section5 {
  height: 590px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

/* partners */
.section6 {
  height: 490px;
  background-color: #353535;
  display: flex;
  flex-flow: column;
}

/* achievements */
.section7 {
  height: 750px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

/* interface */
.section8 {
  height: 1151px;
  background-image: url("../img/laptop_fullscreen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* services */
.section9 {
  height: 1250px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

/* form */
.section10 {
  height: 993px;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* news */
.section11 {
  height: 990px;
  background-color: #f4f4f4;
  display: flex;
  flex-flow: column;
}

/* contacts */
.section12 {
  height: 370px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

/* footer */
footer.footer {
  height: 425px;
  background-color: #353535;
}

/* title */
.title {
  flex: 0 1 auto;
  align-self: center;
}

/* headers */
.h1 {
  font-family: "Oswald Regular";
  font-size: 40px;
  color: #353535;
  text-transform: uppercase;
}
.h1-white {
  font-family: "Oswald Regular";
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

/* description */
.description {
  flex: 0 1 auto;
  align-self: center;
  font-family: "Oswald Light";
  font-size: 20px;
  color: #353535;
}

/* separator */
hr.separator {
  flex: 0 1 auto;
  align-self: center;
  display: block;
  width: 170px;
  height: 2px;
  border: 0;
  border-top: 2px solid #fab320;
  margin: 0 0 20px;
  padding: 0;
}
